Source: libdbus2vdr
Section: libs
Priority: extra
Maintainer: Lars Hanisch <dvb@flensrocker.de>
Build-Depends: debhelper (>= 8), libglib2.0-dev, pkg-config, python-setuptools
Standards-Version: 3.9.1
Homepage: https://github.com/flensrocker/libdbus2vdr

Package: libdbus2vdr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A lib for communicating with the vdr plugin dbus2vdr
 This lib is a wrapper around some dbus calls using GIO
 for communicating with the vdr plugin dbus2vdr.

Package: libdbus2vdr-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Development files for the libdbus2vdr
 This lib is a wrapper around some dbus calls using GIO
 for communicating with the vdr plugin dbus2vdr.
 .
 This package is needed to compile programs against libdbus2vdr,
 as only it includes the header files needed for compiling.

